@model List<OrderVM>

@{
    ViewData["Title"] = "Администратор • Заказы";
    var orderIndex = 1;
}

<div class="container">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("Menu")
        </div>
        <div class="col-10">
            <div class="admin-menu-container">
                <h2>Заказы</h2>
                <div class="row g-3">
                    @if (Model.Count() == 0)
                    {
                        <h4>Список заказов пуст!</h4>
                    }
                    else
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Идентификатор заказа</th>
                                    <th scope="col">Пользователь</th>
                                    <th scope="col">Телефон</th>
                                    <th scope="col">Сумма</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Подробнее...</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in @Model)
                                {
                                    var status = Helpers.GetFieldDisplayName(((OrderStatusVM)order.Status));

                                    <tr>
                                        <th scope="row">@orderIndex</th>
                                        <td>@order.Id</td>
                                        <td>@order.Lastname @order.Firstname[0].</td>
                                        <td>@order.Phone</td>
                                        <td>@order.Sum</td>
                                        <td>@status</td>
                                        <td>@order.Created.ToString("HH:mm:ss dd.MM.yyyy")</td>
                                        <td>
                                            <a asp-area="admin" asp-controller="orders" asp-action="order" asp-route-id="@order.Id" id="order_@order.Id" class="btn btn-outline-success" data-order-number="@orderIndex">Подробнее</a>
                                        </td>
                                    </tr>

                                    orderIndex++;
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>